@import 'tailwindcss';

:root {
}

@theme inline {
  /* Colors */
  --color-nexa-grey: #bdbcbc;
  --color-nexa-grey-2: #b7b1b1;
  --color-nexa-blue: #120aff;
  --color-nexa-deep-blue: #05042e;
  --color-nexa-copyright-blue: #004ceb;
  --color-nexa-border: #3d3d50;

  /* Fonts */
  --font-sora: var(--font-sora);
  --font-inter: var(--font-inter);
  --font-satoshi: var(--font-satoshi);
  --font-inter: var(--font-inter);
}

.wrapper {
  @apply max-w-[1440px] w-[90%] mx-auto;
}
